
<div class='col-xs-offset-3 col-xs-6' id='loginBox'>
<h3 style = "text-align:center">Login</h3>


<%= form_tag sessions_path do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, "", :class => "form-control" %>
  </div>
  <div class="actions" style = "text-align:center"><%= submit_tag "Log in", :class => "btn btn-primary" %><br/><br/>
    <%= link_to "Create new Account", new_user_path %>
  </div>
<% end %>

</div>
