<div class ='container'>
<h3>Your Items:</h3>

  <div class = 'row'>
    <div class = 'col-xs-4'>description</div>
    <div class = 'col-xs-2'>size</div>
    <div class = 'col-xs-3'>gender</div>
  </div>
 <% @user.items.each do |item| %>
  <div class = 'row'>
    <div class = 'col-xs-4'><%= item.description %></div>
    <div class = 'col-xs-2'><%= item.size %></div>
    <div class = 'col-xs-3'><%= item.gender %></div>

    <div class = 'col-xs-3'><%= link_to "more info", item_path(item) %>
          <% if item.user == current_user%>
          | <%= link_to "edit", edit_item_path(item) %>
          | <%= link_to "delete", item_path, method: :delete, data: {confirm: "You sure?"} %>
    </div>
    <% end %>

  </div><br/>

<% end %>
</div>
