
<div class="container-fluid">
    <br/>
    <div class='col-xs-offset-1 col-sm-5 col-xs-5' id='additemform'>
    <h3>Edit Item</h3>

    <%= form_for @item do |f| %>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :size %>
        <%= f.text_field :size, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :gender %>
        <%= f.text_field :gender, class: "form-control" %>
      </div>
      <div class="form-group" id ='picupload'>
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control'%>

      </div>
      <div class="actions" style = "text-align:center"><%= f.submit "Post Item", class: "btn btn-success" %><br/><br/>
      </div>
    <% end %>
    </div>
    <div class='col-xs-4'>
    <%= image_tag @item.image.url, size: '300' %>
    </div>
</div>
