<!DOCTYPE html>
<html>
<head>
  <title>KidThreds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class =' <%= controller.controller_path %> <%= controller.action_name %>'>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> Welcome <%= current_user ? current_user.name + "!" : "to KidThreds" %></a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page? new_item_path%>"><%= link_to "Post New Item", new_item_path %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="<%= 'active' if current_page? edit_user_path(current_user) %>"><%= link_to 'Edit My Profile', edit_user_path(current_user) %></li>
          <% end %>
          <li class="<%= 'active' if current_page? items_path %>"><%= link_to 'View all Threds', items_path %></li>
        <% if current_user %>
          <li class="<%= 'active' if current_page? user_path(current_user)%>"><%= link_to 'My Items', user_path(current_user) %></li>
          <li><%= link_to 'Logout', session_path('dummy'), method: :delete %></li>
        <% else %>
          <li class="<%= 'active' if current_page? login_path %>"><%= link_to 'Login', login_path %></li>
          <li class="<%= 'active' if current_page? new_user_path%>"><%= link_to 'Register', new_user_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id ='Header1'>
  <h1>KidThreds</h1>
  <br/>
</div>
<div id="flash">
        <% flash.keys.each do |k| %>
            <div class="<%= k %>">
                <%= flash[k] %>
            </div>
        <% end %>
  </div>




<%= yield %>

</body>
</html>
